@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


:root {
    --gray-color: #424551;
    --dark-color: #1E212C;
    --accent-color: #FF3F3A;
    --transition: all .3s;
}



html, body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: var(--gray-color);
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}


.button {
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    text-decoration: none;

    transition: var(--transition);
    white-space: nowrap;
}

.button:hover {
    scale: 1.1;
}

.button--empty {
    background-image: none;
    color: var(--accent-color);
    border: 2px solid var(--accent-color)
}

.logo {
}


/* ------------------------------------------------------------------ */


/*   -!-        header-top     -!-       */

.wrapper {

}

.header {
    font-weight: 700;
}
.header__top {

}

.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header__logo {
    margin-right: 60px;
}

.logo-img {

}

.header__nav {
    margin-right: auto;

}

.header__list {
    display: flex;
    list-style: none;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    line-height: 1.6;
    text-decoration: none;
    color: var(--gray-color);
    white-space: nowrap;

    transition: var(--transition);
}

.header__link:hover {
    color: var(--accent-color)
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user {
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
}

.header__user::before {
    content: "";
    background: url(./images/images/icons/user-icon.svg) no-repeat center;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__user-btn {
    text-decoration: none;
    color: var(--gray-color);
    line-height: 1.6;

    transition: var(--transition);
}

.header__user-btn:hover{
    color: var(--accent-color)
}


/*      -!-    header-body      -!-    */


