.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {

}

.logo {

}

/* ------------------------------------------------------------------ */

.header {
}
.header__top {
}
.header__container {
}
.header__top-content {
}
.header__logo {
}

.header__nav {
}
.header__nav-list {
}
.header__nav-item {
}
.header__nav-link {
}
.header__btn-box {
}
.header__top-btn {
}
.button {
}
.header_user {
}
.header__user-btn {
}
.header__body {
}