@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


:root {
    --accent-color: #FF3F3A;

}



html, body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #424551;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}


.button {
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
}

.logo {

}

/* ------------------------------------------------------------------ */

.header {
    font-weight: 700;
}
.header__top {

}

.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child{
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    line-height: 1.6;
    color: #424551;
    white-space: nowrap;
    transition: all .2s ease;
}

.header__nav-link:hover {
    color: var(--accent-color);
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    text-decoration: none;
    margin-right: 36px;
    white-space: nowrap;
}

.header_user {
    display: flex;
    position: relative;
    padding-left: 28px;
}

.header_user::before {
    content: "";
    background: url(./images/images/icons/user-icon.svg) no-repeat;
    width: 20px;
    left: 0;
    height: 20px;
    display: block;
    position: absolute;
    
    top: 50%;
    transform:translateY(-50%) ;
}

.header__login-btn {
    color: #424551;
    text-decoration: none;
    margin-right: 3px;
    white-space: nowrap;
    line-height: 1.6;
}

.header__user-space {
    cursor: default;
    line-height: 1.6;
}

.header__register-btn {
    color: #424551;
    text-decoration: none;
    margin-left: 3px;
    white-space: nowrap;
    line-height: 1.6;
    

}

.header__login-btn:hover,
.header__register-btn:hover {
    color: #FF3F3A;
}

.header__body {
}