@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


html, body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}


.button {

}

.logo {

}

/* ------------------------------------------------------------------ */

.header {
}
.header__top {

}

.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
    
}
.header__nav-list {
    display: flex;
    list-style: none;
}
.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child{
    margin-right: 0;
}

.header__nav-link {
    text-decoration: none;
    color: #424551;
}
.header__btn-box {
}
.header__top-btn {
}
.button {
}
.header_user {
}
.header__user-btn {
}
.header__body {
}